include header
include footer
include matchlist
include adh
extends layout
block content
	div#screencontainer
		div#content
			+header()
			div#wrapper
				div#fullcontainer
					div#path
						h1
							a(href= '/')
								="Home"
							=" / "
							a(href= '/calendar/')
								="Calendar"
					div.contenthugeheader.headersplit.hbgl
						h1
							="Calendar"
					script(src='/buildcalendar.js' type='text/javascript' charset='utf8')
					div.grey(style="line-height: 30px")="Times are in your local Timezone"
					div#lolcalendar.contentlarge
						div(style="height: 100px;")
						div.center.gold
							="Detecting Timezone..."
					div#adh
						+adh()
	+footer()

