include header
include footer
include matchlist
include adh
include adright
include popular
extends layout
block content
	div#screencontainer
		div#content
			+header()
			div#wrapper
				div#leftcontainer
					div
						div#landing
					div.smallmargin
					div
						h1(style="font-size: 25px")
							="Coming soon!....."