mixin footer
	div#footer
		div.footertext.grey
			="Interested in where the numbers come from? "
			a.lb(href="/Creating-a-rating-system-for-LoL")
				="Click here"
		div.footertext.grey.smallmargin
			="Broken Stuff, Questions or comments? Email me! "
			a.lb(href="mailto:Dylan@LoLClash.com")
				="Dylan@LoLClash.com"
		div#footerlogo