mixin header
	div#topmenu
	div#wrapper
		div#header
			a( href= '/')
				div#headerlogo
	div#menu
		div#menudiv
			ul
				li
					a(href='https://twitter.com/LoLClashDylan' style="margin-right:10px")
						img.socialbutton(src='/img/twitter.png')
					a(href='https://www.facebook.com/lolclashofficial')
						img.socialbutton(src='/img/facebook.png')
