include header
include footer
include teamlist
include matchlist
include popular
include adright
extends layout
block content
	script(src="/hidespoiler.js" type="text/javascript")
	script(src="/timechange.js" type="text/javascript")
	div#screencontainer
		div#content
			+header()
			div#wrapper
				div#leftcontainer
					div#newsheader.contentlarge
						div#feature(style='background-image:url("/img/ft1.png")')
							.featureheader
								h1
									="Behind the Rankings..."
								h2
									="Creating a ranking system for League of Legends"
						a(href="/calendar")
							div#featureright(style='background-image:url("/img/ftr1.png")')
								.featureheader
									h3
										="Calendar"
									h2
										="Event Schedule"
						a(href="/vods/All-Star-2014")
							div#featureright(style='background-image:url("/img/ftr2.png")')
								.featureheader
					div.contentlargeheader.headerborder.smallmargin
						h1 CURRENT RANKINGS
					+teamlist(teams,1)
					h1.center.smallmargin
						a.center(href='/teams/')
							div.showmore.center.dbg1
								="See full rankings..."
					div.contentlargeheader.headerborder.smallmargin
						h1 TOURNAMENTS
					div#tourneylist.smallmargin
						ul
							each tourney, i in tourneys
								-var boxclass
								if i === 0
									-boxclass = "tourneybox1"
								else if i === 1
									-boxclass = "tourneybox2"
								else if i === 2
									-boxclass = "tourneybox3"
								else if i === 3
									-boxclass = "tourneybox3"
								else if i === 4
									-boxclass = "tourneybox1"
								else if i === 5
									-boxclass = "tourneybox2"
								a(href='/vods/' + tourney.url)
									li(class=boxclass)
										div.tbox1
											h1
												=tourney.name.slice(0,21)
										if tourney.logos[2] !== 'Unknown.png'
											div.tbox2(style='background: url(/img/event-logo/2/' + tourney.logos[2] + ') no-repeat 50% 50%')
										else
											div.tbox2
										div.tbox3
											h1
												="Watch VoDs"
						div.clearboth
					h1.center.smallmargin
							a.center(href='/vods/')
								div.showmore.center.dbg3
									="All Event VoDs..."
					div.contentlargeheader.headerborder
						h1 RECENT MATCHES
					div#matchlist.smallmargin.headerborder
						+matchlist(results)
					h1.center
							a.center(href='/results/')
								div.showmore.center.dbg2
									="All recent results..."
				div#rightcontainer
					div#ad1
						+adright()
					+popular()
	+footer()



