doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/nv.d3.css')
		link(rel='stylesheet', href='/css/bootstrap.css')
		script(src='/jquery-1.11.0.min.js' type='text/javascript' charset='utf8')
		script(src='/analytics.js' type='text/javascript' charset='utf8')
		script(src='/bootstrap.min.js' type='text/javascript' charset='utf8')
	body
		block content
