mixin popular
	div#popularpages
		div.contentlargeheader.headerborderside.smallmargin
			h1 POPULAR
		a(href='/teams/Cloud-9')
			div.popular(style='background: url(/img/popular/m-cloud-9.png')
		a(href='/teams/Fnatic')
			div.popular(style='background: url(/img/popular/m-fnatic.png')
		a(href='/vods/All-Star-2014')
			div.popular(style='background: url(/img/popular/m-all-star-2014.png')
		a(href='/teams/SK-Telecom-T1-K')
			div.popular(style='background: url(/img/popular/m-skt-t1-k.png')
		a(href='/teams/OMG-DouYuTV')
			div.popular(style='background: url(/img/popular/m-omg.png')
		a(href='/teams/Taipei-Assasins')
			div.popular(style='background: url(/img/popular/m-taipei-assasins.png')
		a(href='/teams/Team-SoloMid')
			div.popular(style='background: url(/img/popular/m-tsm.png')
		a(href='/teams/Counter-Logic-Gaming')
			div.popular(style='background: url(/img/popular/m-clg.png')
		a(href='/teams/Gambit-Gaming')
			div.popular(style='background: url(/img/popular/m-gambit-gaming.png')