include header
include footer
include teamlist
include teamlistsmall
include listbrowser
include popular
extends layout
block content
    div#screencontainer
        div#content
            +header()
            div#wrapper
                    div#leftcontainer
                        div#path
                            h1
                                a(href= '/')
                                    ="Home"
                                =" / "
                                a(href= '/teams/')
                                    ="Teams"
                        div.contenthugeheader.headersplit.hbg2(style="margin-bottom: 6px;")
                            h1
                                ="Teams"
                        +teamlist(teams, page)
                        div.smallmargin
                        +listbrowser('/teams/', count, 15, page)
                        div.smallmargin
                        +teamlistsmall(naTeams, "N")
                        +teamlistsmall(euTeams, "E")
                        +teamlistsmall(koreaTeams, "K")
                        +teamlistsmall(chinaTeams, "C")
                        +teamlistsmall(seaTeams, "A")
                    div#rightcontainer
                        +popular()
                        div#ad1(style='background-image:url("/img/v1.png")')
    +footer()