include header
include footer
include listbrowser
include popular
include adright
include adrights
include adh
extends layout
block content
    div#screencontainer
        div#content
            +header()
            div#wrapper
                    div#leftcontainer
                        div#path
                            h1
                                a(href= '/')
                                    ="Home"
                                =" / "
                                a(href= '/vods/')
                                    ="Event VoDs"
                        div.contenthugeheader.headersplit.smallmargin.hbg3
                            h1
                                ="Event VoDs"
                        +listbrowser('/vods/', count, 6, page)
                        div.smallmargin
                        each tourney, i in tourneys
                            div.tourneycontainer.smallmargin
                                div.darkbox
                                    h1
                                        a(href= '/vods/' + tourney.url)
                                            span(style="font-size: 22px;")
                                                =tourney.name
                                        span(style="float: right; padding-right: 20px;")
                                            if (tourney.progress === "In Progress")
                                                span.yellow
                                                    ="In Progress"
                                            else if (tourney.progress === "Upcoming")
                                                span.grey
                                                    ="Upcoming"
                                            else
                                                span.green
                                                    ="Completed"
                                div.eventlistleft
                                    div.logo150
                                        a(href= '/vods/' + tourney.url)
                                            div.logo150(style='background: url(/img/event-logo/3/' + tourney.logos[3] + ') no-repeat 50% 50%')
                                div.eventlistright
                                    h1.gold
                                        if (tourney.startDate)
                                            =tourney.startDate.toDateString().slice(4,10)
                                        =" - "
                                        if (tourney.endDate)
                                            =tourney.endDate.toDateString().slice(4,10)
                                    p
                                        =tourney.description
                                    a(href= '/vods/' + tourney.url)
                                        div.button
                                            ="VODS & SCHEDULE"
                                div.clearboth

                        div.contentlarge
                        +listbrowser('/vods/', count, 6, page)
                        div.smallmargin
                        div#adh
                            +adh()
                    div#rightcontainer
                        +popular()
                        div#ad1
                            +adright()
    +footer()