include header
include footer
include listbrowser
extends layout
block content
    div#screencontainer
        div#content
            +header()
            div#wrapper
                    div#leftcontainer
                        div#path
                            h1
                                a(href= '/')
                                    ="Home"
                                =" / "
                                a(href= '/vods/')
                                    ="Events"
                        div.contenthugeheader.headersplit.smallmargin
                            h1
                                ="Event VoDs"
                        +listbrowser('/vods/', count, 5, page)
                        div.smallmargin
                        each tourney, i in tourneys
                            div.tourneycontainer
                                div.darkbox
                                    h1
                                        a(href= '/vods/' + tourney.url)
                                            span(style="font-size: 22px;")
                                                =tourney.name
                                        span(style="float: right; padding-right: 20px;")
                                            if (tourney.progress === "In Progress")
                                                span.yellow
                                                    ="In Progress"
                                            else if (tourney.progress === "Upcoming")
                                                span.grey
                                                    ="Upcoming"
                                            else
                                                span.green
                                                    ="Completed"
                                div.eventlistleft
                                    a(href= '/vods/' + tourney.url)
                                        img(src= '/img/eventlogo.png')
                                div.eventlistright
                                    h1.gold
                                        if (tourney.startDate)
                                            =tourney.startDate.toDateString().slice(4,10)
                                        =" - "
                                        if (tourney.endDate)
                                            =tourney.endDate.toDateString().slice(4,10)
                                    p
                                        =tourney.description
                                    a(href= '/vods/' + tourney.url)
                                        div.button
                                            h1
                                                ="VODS & SCHEDULE"
                            <br>
                        div.contentlarge
                        +listbrowser('/vods/', count, 5, page)
                    div#rightcontainer
                        div#upcomingmatches
                            div.contentlargeheader
                                h1 MODULE 1
                        div#upcomingmatches
                            div.contentlargeheader
                                h1 MODULE 2
                        div#ad1(style='background-image:url("/img/v1.png")')
    +footer()