@font-face {
	font-family: "AvantGarde Bk Bt";
	src: url('/avant-garde-book-bt.ttf'), 
	 url('/avant-garde-book-bt.eot');
}


body {
 	padding: 0;
 	margin: 0;
 	font: 15px "AvantGarde Bk Bt", sans-serif;
	background-color: #0B0B0B;
 	color: #E5E5E5;
}

a {

	color: #E5E5E5;
}

a:hover
{
	color: #018FFD;
	text-decoration: underline;

}

h1, h2, h3, h4, p

{
	margin: 0;
	padding: 0;
	color: #F8F8F8;
}

h2
{
	font-size: 25px;
}

ul
{
	padding: 0;
	list-style-type: none;
	margin: 0;
}


.nobg {
	background-color: #0B0B0B;
}

.contentdarkheader {
	background-color: #002B4B;
	height: 30px;
	color: #E5E5E5;

}

.contentlargeheader {
	height: 30px;
	color: #E5E5E5;

}
.headersplit
{
	height: 30px;
		background-color: #0073C6;


}

.headersplit h1{
	display: inline-block;
	padding-right: 31px;
	background-color: rgba(5, 26, 40, 0.8);
}

.contenthugeheader {
	height: 52px;
	color: #E5E5E5;

}

.hbg1 {
background-image:url("/img/h1a.png");
}

.hbg2 {
background-image:url("/img/h2a.png");
}

.hbg3 {
background-image:url("/img/h3a.png");
}

.hbg4 {
	background-image:url("/img/h4a.png");
}

.dbg1 {
background-image:url("/img/h1.png");
}

.dbg2 {
background-image:url("/img/h2.png");
}

.dbg3 {
background-image:url("/img/h3.png");
}

.dbg4 {
	background-image:url("/img/h4.png");
}

.contenthugeheader2 {
	
	height: 52px;
	color: #E5E5E5;

}
.contenthugeheader3 {
	
	height: 52px;
	color: #E5E5E5;

}
.contenthugeheader4 {
	
	height: 52px;
	color: #E5E5E5;

}

.logo40 {
	width:40px;
	height:40px;
	margin: auto;
}

.logo30 {
	width:30px;
	height:30px;
	margin: auto;
}

.logo22 {
	width: 40px;
	height: 22px;
	margin: auto;
}

.logo75 {
	width: 100%;
	height: 75px;
	margin: auto;
}

.logo150 {
	width: 220px;
	height: 122px;
	margin: auto;
}


.contentdarkheader h1 {


	font-size: 19px;
	line-height: 30px; 
	font-weight:500;
	padding-left: 6px;
	margin: 0;
}

.contentlargeheader h1 {
	font-size: 18px;
	line-height: 30px; 
	font-weight:500;
	padding-left: 6px;
	margin: 0;
}

.contenthugeheader h1 {
	font-size: 27px;
	line-height: 52px; 
	font-weight:700;
	padding-left: 14px;
	margin: 0;
}


#topmenu
	{
		height:35px;
		background-color: #000000;
	}


html, body, #screencontainer { height: 100%; }
body > #screencontainer { height: auto; min-height: 100%; }

#content
{
	padding-bottom: 200px;
}

#wrapper
	{
		width: 1000px;
		margin: 0 auto;
	}


#header
	{
		height: 77px;
		background-image:url("/img/t1.png");
		background-repeat:no-repeat;
		background-position: left center;
		
	}

#footer
	{
		clear:both;
		position: relative;
		z-index: 10;
		height: 200px;
		margin-top: -200px;
		background-color: #090A0E;
		background-repeat: repeat;
		
	}

#footer ul
{
	text-align: center;
	margin-right: 200px;
	margin-top: 20px;
}

#footer img
{
	padding-left: 40px;
}

#footer ul li { 

	font-size: 18px;
	display: inline;
	padding-right: 20px;
	line-height: 51px;
}
#menu
	{
		height: 47px;
		background-image:url("/img/mbg1.png");
		background-repeat: repeat-x;
		margin: 0 0 ;
		padding: 0 0;
	}
#menu ul
	{
		list-style-type: none;
		font-size: 20px;
		padding-right: 460px;
		padding-left: 6px;
		text-align: center;
		margin: 0 0 ;
	}

#menu ul li { 
	display: inline;
	padding-right: 55px;
	line-height: 47px;
}

#menu ul li a 	{
	text-decoration: none;
	color: #E7E7E7;
}

#menu ul li a:hover {
	
	color: #018FFD;
	text-decoration: underline;
}
#screencontainer
{
	min-height:100%;
	width: 100%;	
}


#leftcontainer
{
	margin-top: 21px;
	float: left;
	width:760px;
	padding-bottom:51px;

}
#rightcontainer
{
	margin-top: 21px;
	float: right;
	width: 160px;
	margin-right:50px;

}
.colorbox
{
	opacity:0.75;
	height: 20px;
	width: 36px;
}
#fullcontainer
{
	margin-top: 21px;
	width:920px;
	padding-bottom:51px;

}

.contentlarge
{
	margin-bottom: 21px;
}

.featureheader {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	margin-bottom: 10px;
	margin-left: 12px;
}

.featureheader h1 {
	font-weight: 700;
	font-size: 30px;
	padding: 0;
	margin: 0;
}

.featureheader h3 {
	font-weight: 500;
	font-size: 25px;
	padding: 0;
	margin: 0;
}

.featureheader h2 {
	color: #0090FF;
	font-size: 20px;
	padding: 0;
	margin: 0;
}
.border
{
	border: 1px solid;
}

.bordernotop
{
	border: 1px solid;
	border-top: none;
}
.calendarbox
{
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #131313;
	font-size: 13px;
	margin-bottom: -1px;

}

.calleft 
{
	float: left;
	margin-left: 8px;
}

.calright
{
	float: right;
	margin-right: 12px;
}

#path
{
	padding-bottom: 11px;
}

#path h1 a, h1
{
	font-size: 17px;
	text-decoration: none;
	font-weight: 500;
}

#path h1 a
{
	padding-right: 6px;
	padding-left: 6px;
}



#newsheader
{
	position: relative;
	width: 100%;
	height: 290px;
	
}
#popularpages
{
	margin-bottom: 21px;
}

.contentlarge table
{
	width: 100%;
}

.darkgreybg
{
	background-color: #11141B;
	
}

.fronttable th {
	background-color: #002B4B;
	font-size: 13px;
	padding: 0;
	height: 28px;
	line-height: 28px;
}
th
{
	font-weight: normal;
	font-size: 12px;
}

td, th
{
	text-align: left;
	padding-left: 6px;
	height: 30px;
}
.teamname
{
	text-align: left;
	padding-left: 20px;
}
table a
{
	text-decoration:none;

}
table
{
	border-collapse: collapse;
}
.white
{
	color: #E5E5E5;
}
.red
{
	color: #841400;
}

.blue
{
	color: #018FFD;
}

.noborder
{
	border-style: none;
}
.green
{
	color: #1A8302;
}

.gold
{
	color: #B48B00;
}

.grey
{
	color:#A4A4A4;
}

.lightgrey
{
	color:#C1C1C1;
}
.darkgrey
{
	color:#828282;
}

.lb
{
	color: #88CBFF;
}

.lp
{
	color: #9D89FF;
}

.dblue
{
	color: #0272C6;
}

.yellow
{
	color: #FDC100;
}

#teamlist tr:nth-child(even), #teamlineup tr:nth-child(even),  #teammatches tr:nth-child(even), #teamlistsmall tr:nth-child(even){
	background-color: #131313;
}

#teamlist table {
	border-style: solid;
	border-color: #262525;
	border-width: 2px;
}
#teamlistsmall table {
	width: 100%;
	border-style: solid;
	border-color: #262525;
	border-width: 1px;
}
.center
{
	text-align: center;
}
.left
{
	text-align: left;
}

.floatleft {
	float: left;
}

.calendartable td
{
	padding: 0;
	padding-bottom: 5px;
	height: 594px;
}
#feature
{
	border: solid 1px #151515;
	float: left;
	height:300px;
	width:520px;
	background-repeat: no-repeat;
}
th {
	background-image :url("/img/h3.png");
}
#featureright
{
	border: solid 1px #151515;
	position: relative;
	float: right;
	height:145px;
	width:230px;
	background-repeat: no-repeat;
	margin-bottom:8px;
}



#spotlightmatches
{
	height: 300px;

}

#spotlight
{
	float:left;
	width: 220px;
	height: 260px;
	margin-top: 10px;
	margin-right: 20px;
	background-image:url("/img/hotbg.png");
}

#spotlight h1, h2, h3, h4, p
{
	padding-left: 10px;
	font-size: 14px;
	font-weight: normal;
}

#spotlight h1
{
	font-size: 14px;
	padding-top: 10px;
}

#spotlight h2
{
	font-size: 22px;
	font-weight: bold;
}

#spotlight h3
{
	font-size: 22px;
	padding-top: 28px;
}

#spotlight img
{
	float: right;
	padding-right: 15px;
}

#spotlight p
{
	padding-top: 10px;
	font-size: 13px;
	color:#A4A4A4
}
#ad1
{
	margin: auto;
	width: 120px;
	height:600px;
	margin-bottom: 21px;
}

.bold
{
	font-weight: 700;
}


.watchbutton {

	float: right;
	text-align: right;
	width: 79px;
	height: 50px;
	background-image:url('/img/button-vod-l.png');
}

.watchbuttonsmall {

	float: right;
	text-align: right;
	width: 79px;
	height: 33px;
	background-image:url('/img/button-vod-s.png');
}
.watchbuttonsmallspacer {

	float: right;
	text-align: right;
	width: 79px;
	height: 33px;
}

.watchbuttonspacer {
	float: right;
	text-align: right;
	width: 79px;
	height: 33px;
}

.watchbutton:hover {
	background-image:url('/img/button-vod-l-h.png');
}

.watchbuttonsmall:hover {
	background-image:url('/img/button-vod-s-h.png');
}

#matchlist table, #matchlistsmall table
{
	border-collapse: separate;
	border-spacing: 0px 11px;
	background: black;
	padding: 0;
	margin: 0;

}

#matchlistsmall table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px 8px;
	background: black;
	padding: 0;
	margin: 0;
}

#matchlist tr, #matchlistsmall tr
{
	outline: 1px solid #262525;
	padding: 0;
	margin: 0;

}
#matchsorter
{
	background-color: #131313;
	text-align: center;
	padding: 0;
	margin: 0;
	height:47px;
}
#matchlist th, #matchlistsmall th
{
	background-color: #0B0B0B;
}
#matchlist, #matchlistsmall
{
	background: black;
}
#matchlist td, #matchlistsmall td
{
	background-color: #131313;
	text-align: center;
	padding: 0;
	margin: 0;
	height:47px;
}

#matchlistsmall td 
{
	height: 33px;
}

#listbrowser
{
	padding: 0;
	margin: 0;
	height: 32px;
	background: #131313;
}

#listbrowser ul 
{
	padding: 0px;
	margin: 0px;
}
#listbrowser ul li {

	font-size: 16px;
	list-style-type: none;
	float: left;
	line-height: 30px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

#listbrowser ul li a
{
	text-align: center;	

	
}

.listbrowserbutton li
{
	background-color: #00406C;
	display: block;

}

.listbrowserbutton a
{
	text-decoration: none;
}

#listbrowser li:hover
{
	background-color: #002B4B;
	display: block;
	color: #E5E5E5;
	color: #018FFD;
}

#teamvitals
{
	float: right;
}

#teamvitals table
{
	float:right; 
	width:400px;
	text-align: left;	

}

#teamlineup td
{
	text-align: left;
}
#teamvitals td

{
	height: 27px;
	text-align: left;
	background-image:url("/img/tvitalsbg.png");
	background-repeat: repeat-x;
}

#teambiotext
{
	padding: 18px;
	background-color: #131313;
}

.filtertable {

	height: 84px;
}

.filtertable ul
{
	margin: 0;
	padding: 0;
}
.filtertable li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	padding-right: 3px;
	width: 70px;
	font-size: 19px;
	text-align: center;
	height: 84px;
	line-height: 84px;
}


.filtertable li a {
	display: block;
	text-decoration: none;

}

.headerborder
{

	border-bottom: solid 3px #002B4B;
}

.headerborderside
{

	border-bottom: solid 3px #002B4B;
	border-left: solid 3px #002B4B;
}

.popular {
	border: solid 1px #151515;
	height: 70px;
	width: 160px;
	margin-bottom: 8px;
}

.popular:hover, #feature:hover, #featureright:hover {
	border: solid 1px #E5E5E5;
}

.blackspace 
{
	margin-top: 5px;
}

.right {
	text-align: right;
}
.darkbox
{
	padding-left: 14px;
	min-height: 35px;
	line-height: 35px;
	background-color: #0C1115;
	border: solid 1px #072338;
}

.regionlist {
	float: left;
	margin-right: 13px;
	margin-bottom: 28px;
}

.regionheader2
{
	margin-bottom: -1px;
	width: 350px;
	padding-left: 14px;
	height: 40px;
	background-color: #0C1115;
	border: solid 1px #072338;
}
#teamlistsmall th {
	background-image: none;
	border: solid 1px #072338;
}

.regionheader img {
	margin-top: 4px;
	margin-left: 10px;
}
.regionheader h1 {
	float: left;
	padding-left: 10px;
	font-size: 20px;
	line-height: 40px; 
	font-weight:500;
	margin: 0;
}

.darkbox a
{
	text-decoration: none;
}

.matchfilter a
{
	text-decoration: none;
}

.matchfilter .darkbox:hover{
	background-color: #0C1115;
	border: solid 1px #E5E5E5;;
}


#teamgrid ul li {
	height: 40px;
	width: 115px;
	float: left;
	font-size: 14px;
	border: solid 1px #344E5F;
	padding: 4px;
	margin-left: 7px;
	margin-bottom: 7px;
}

#teamgrid li:hover {
	background-color: #0C1115;
	border: solid 1px #E5E5E5;;
}

.switchplus {
	font-size: 23px;
}

.smallmargin
{
	margin-bottom: 13px;
}

#teamgrid a
{
	text-decoration: none;
}

.eventlistleft
{
	float: left;
	width: 280px;
	border-right: solid 1px #072338;
	border-bottom: solid 1px #072338;
	text-align: center;
	min-height: 120px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.eventlistright
{
	float: right;
	width: 449px;
	border-bottom: solid 1px #072338;
	padding: 15px;
}

.tourneycontainer
{
	width: 100%;
}

.tourneycontainersmall
{
	min-height: 180px; 
	width: 100%;
}

.eventlistright p

{
	margin-bottom: 30px;
	padding: 0;
}

.button
{
	display: inline-block;
	color: #E5E5E5;
	text-align: center;
	padding: 8px;
	background-color: #260069;
	border: solid 1px #260069;
	font-weight: normal;
	margin-top: 5px;
}

.buttonsmall
{
	display: inline-block;
	color: #E5E5E5;
	text-align: center;
	padding: 5px;
	height: 10px;
	background-color: #260069;
	border: solid 1px #260069;
	line-height: 10px;
	font-weight: normal;
	margin-top: 5px;
}


.button:hover, .buttonsmall:hover {

	border: solid 1px #E5E5E5;
	text-decoration: underline;
	color: #E5E5E5;

}

#tourneylist
{

}

.clearboth
{
	clear:both;
}

#tourneylist ul li {
		border: solid 1px #151515;
	float: left;
	width: 220px;
	height: 151px;
	margin-right: 20px;
	margin-bottom: 12px;
}

.tourneybox1 {
	background-image:url("/img/tb1.png");
}

.tourneybox1:hover {
	background-image:url("/img/tb1h.png");
}

.tourneybox2 {
	background-image:url("/img/tb2.png");
}

.tourneybox2:hover {
	background-image:url("/img/tb2h.png");
}


.tourneybox3 {
	background-image:url("/img/tb3.png");
}

.tourneybox3:hover {
	background-image:url("/img/tb3h.png");
}


.tbox1 {
height: 35px;
line-height: 35px;
padding-left: 11px;
}
.tbox2 {
 text-align: center;
 height:75px;
}
.tbox3 {
padding-left: 50px;
height: 40px;
line-height: 40px;
}

#teaminfo{
	background-image:url("/img/tibg.png");
	height: 210px;
	width: 100%;
	padding-top: 7px;
	padding-left: 6px;
}

.teamlogo
{	
	float: left;
	width: 283px;
	height:217px;
	text-align: center;
	line-height: 217px;

}

.teaminfobox
{
	float: left;

}

.inforank{
	width: 206px;
	height: 100px;
	margin-bottom: 4px;
	background-color: #060411;
}

.inforankl, .inforankr
{
	width: 103px;
	float: left;
	text-align: center;

}
.inforankl h1 {
	font-size: 60px;
	line-height: 100px;
	font-weight: bold;

}
.inforankr h1 {
	padding-top: 20px;
	color: #5900FF;
	font-size: 27px;
}


.inforank2 {

	text-align: center;
	width:100px;
	height:100px;
	margin-right: 6px;
	float: left;
	background-image:url("/img/trophy.png");

}

.infoelo {
	color: #E85A12;
	text-align: center;
	width:100px;
	height:100px;
	float: left;
	background-image:url("/img/trophy.png");
}

.infoelo h1, .inforank2 h1 {
	margin-top: 24px;
	font-size: 29px;
	font-weight: bold;	
}

.teampic
{
	float: right;
	margin-right: 6px;
	width: 261px;
	height: 203px;
}

.huge {
	font-size: 24px;
	line-height: 50px;
}

.popoutbutton
{
	float: right;
	width: 200px;
	height: 40px;
	background-image:url("/img/popl.png");
}

.popoutbutton:hover {
	border-style: solid;
	border-color: #E5E5E5;
	border-width: 1px;
}
.popoutbutton h1
{

	padding-left: 60px;
	padding-top: 9px;
}

.videobutton {
	float: left;
	width: 134px;
	height: 48px;
	border-style: solid;
	border-color: #072338;
	border-width: 1px;
	margin-right: 20px;
	margin-bottom: 7px;
	background-color: #0C1115;
}

.videobutton:hover
{
	border-color: #E5E5E5;
}

.videobutton h1 {
	text-align: center;
	line-height: 48px;
	font-size: 20px;
}

.videobutton a h1 {
	text-decoration: none;
}

.unranked {
	text-align: center;
	color: #A4A4A4 ;
	font-size: 30px;
	line-height: 100px;
}

.spoilerbutton, .showbutton, .spoilerbuttonsmall {
	margin: auto;
	background-color: #260069;
	height: 28px;
	width: 55px;
	border: solid 1px #260069;
	line-height: 28px;
	font-weight: normal;
}

.spoilerbuttonsmall {
	height: 20px;
	line-height: 20px;
	width: 45px;
}

.spoilerbutton:hover, .allspoilers:hover, .showmore:hover, .showbutton:hover, .spoilerbuttonsmall:hover {
	border-style: solid;
	border-color: #E5E5E5;
	border-width: 1px;
}



.allspoilers {
	text-align: center;
	text-decoration: none;
	background-color: #260069;
	height: 28px;
	width: 160px;
	margin-left: 410px;
	border: solid 1px #260069;
	line-height: 28px;
	font-weight: normal;
}

.allspoilers a {
	text-decoration: none;
}

.showmore a:hover {
	color: #E5E5E5;
}
.showmore {
	color: #E5E5E5;
	text-align: center;
	background-color: #00233F;
	height: 28px;
	width: 100%;
	border: solid 1px #00233F;
	line-height: 28px;
	font-weight: normal;
	margin-top: 5px;
}